<p>Dear <%= @user.first.username %>,</p>
<br />
<p>Your account has been approved by Administrator. Please sign in with your username and password correctly.<br />
There is "How To" link which will describe you how application can interact and resulting awesome report.</p>

<p>If you have any question, please contact me at aji.y@ras.co.id</p>
<br />
<p>Happy Working</p>