<p>Dear Admin,</p>
<br />
<p>One of company employee has been sign up to your application, she/he signed up using <%= @user.email %> as his/her email.<br />
Please approve with considering his/her position and role. .
</p>
<br />
<p>Happy Working</p>
