<p>Dear <%= @user.first.username %>,</p>
<br />
<p>You have been sign up successfully to Sales Analytic application.<br />
After sign up, you still cannot enter the application until approved,<br /> 
please contact your administrator to approve your account.
</p>

<p>If you have any question, please contact me at aji.y@ras.co.id</p>
<br />
<p>Happy Working</p>
