<div class="row-fluid">
		<div class="span3">
		  <!-- block -->
		  <div class="block">
		    <div class="navbar navbar-inner block-header">
		      <div class="muted pull-left">Edit Monthly Retails Target</div>
		      <div class="pull-right"><span class="badge badge-info"></span>

		      </div>
		    </div>
		    <div class="block-content collapse in">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
