<div class="container-fluid" style="height: 10px;">
  <div class="row">
    <h4>Item Availability JABAR 11011</h4>
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="span8" style="padding-top: 25px">
          <div class="block-content collapse in">
            <table id="stock_jde" border="1" class="display" data-source="<%= stock_jde_availability_path(format: "json") %>" >
              <thead>
                <tr>
                  <th>Lot/Serial Number</th>
                  <th>Item Number</th>
                  <th>Description</th>
                  <th>On Hand</th>
                  <th>Available</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
