table#check_price_list tbody td {min-width: 300px; text-align: center;}
table#check_price_list th, td {white-space: nowrap;}

#myModal{
  overflow:hidden;
}

.form-accounting-price-list
{
  max-width: 256px;
  padding: 5px;
  margin: 0 auto;
}

@media
only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px){}

  /* Force table to not be like tables anymore */

.form-accounting
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-accounting .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-accounting .form-control:focus
{
  z-index: 2;
}