#myModal{
  overflow:hidden;
}
body {
  overflow-y: scroll !important;
} 

.form-accounting-price-list
{
  max-width: 256px;
  padding: 5px;
  margin: 0 auto;
}

@media 
only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px){

  /* Force table to not be like tables anymore */
  table th, td { 
    overflow: hidden;
    width: 45%;
  }

  table#price_list {
    table-layout: fixed;
  }
  
  .th-ops{
    width: 7%;
  }
  
  .th-nofak{
    width: 11%;
  }
  
  .th-cust{
    width: 10%;
  }
  
  .th-item{
    width: 11%;
  }
  
  .th-pjg{
    width: 2%;
  }
  
  .th-lbr{
    width: 2%;
  }
  
  .th-qty{
    width: 1%;
  }
}

.form-accounting
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-accounting .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-accounting .form-control:focus
{
  z-index: 2;
}