/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui
 *= require dataTables/jquery.dataTables
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-multiselect
 *= require tooltipster
 *= require pivot
 *= require_tree .
*/
.search_main
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.search_main .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search_main .form-control:focus
{
  z-index: 2;
}

.graph-container {
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 2px #EEEEEE;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}
.graph-container:after {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  content: "Perbandingan Penjualan antara Bulan Berjalan dan Bulan sebelumnya";
  display: block;
  font-size: 12px;
  left: -1px;
  padding: 3px 8px;
  position: absolute;
  top: -1px;
}
.graph-container .caption {
  text-align: center;
}
.graph-container .graph {
  height: 220px;
}


table#stock td {
  padding: 12px 20px;
}

.user_new
{
  max-width: 207px;
  padding: 15px;
  margin: 0 auto;
}
.user_new .user_new-heading, .user_new .checkbox
{
  margin-bottom: 10px;
}
.user_new .checkbox
{
  font-weight: normal;
}
.user_new .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user_new .form-control:focus
{
  z-index: 2;
}
.user_new input[type="text"]
{
  margin-bottom: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.user_new input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}

.round-box-signup
{
  width:400px;
  height:355px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  background-color:#F3F3F3;
  padding: 15px;
  margin: 0 auto;
  border-width:3px;
  border-style:outset;
}

.round-box-signin
{
  width:400px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  background-color:#F3F3F3;
  padding: 15px;
  margin: 0 auto;
  border-width:3px;
  border-style:outset;
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  table tr, th, td {
    overflow: hidden;
    width: 100% !important;
  }

  table#cus_compare2 {
    table-layout: auto;
  }
}

@media
only screen and (min-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table th, td {
    overflow: hidden;
  }

  table {
    table-layout: auto;
  }

  table#stock tr { border: 1px solid #ccc; }

  table#stock td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  table#stock td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 7px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  table#table_parameter td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  table#table_parameter td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 7px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  table#stock td:nth-of-type(1):before { content: "Cabang"; }
  table#stock td:nth-of-type(2):before { content: "Jenis"; }
  table#stock td:nth-of-type(3):before { content: "Brand"; }
  table#stock td:nth-of-type(4):before { content: "Artikel"; }
  table#stock td:nth-of-type(5):before { content: "Kain"; }
  table#stock td:nth-of-type(6):before { content: "Panjang"; }
  table#stock td:nth-of-type(7):before { content: "Lebar"; }
  table#stock td:nth-of-type(8):before { content: "Freestock"; }
  table#stock td:nth-of-type(9):before { content: "Bufferstock"; }
  table#stock td:nth-of-type(10):before { content: "Realstock"; }
  table#stock td:nth-of-type(11):before { content: "Service"; }
  table#stock td:nth-of-type(12):before { content: "Downgrade"; }

  table#table_parameter td:nth-of-type(1):before { content: "Branch"; }
  table#table_parameter td:nth-of-type(2):before { content: "Brand"; }
  table#table_parameter td:nth-of-type(3):before { content: "Type"; }
  table#table_parameter td:nth-of-type(4):before { content: "Article"; }
  table#table_parameter td:nth-of-type(5):before { content: "Fabric"; }
  table#table_parameter td:nth-of-type(6):before { content: "Size"; }
}

table#table_total td {
  padding: 12px 20px;
}

table#table_total2 td {
  padding: 12px 20px;
}
table#table_grand_total td {
  padding: 12px 20px;
}

table#table_grand_total2 td {
  padding: 12px 20px;
}

div#grand_total {
  padding: 20px;
}

#error_explanation {
  color: #f00;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.navbar .brand {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

html, body, .container, .content {
  height: 100%;
  font-size:11px;
}

.container,.content {
  position: relative;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* same as the footer */
}

.push {
  height: 50px; /* same as the footer */
}
.footer-wrapper {
  position: relative;
  height: 50px;
  padding-top: 100px;
}

.form-inline .control-label{
  /* text-align:right; */
  text-align:center;
  background-color:#ffa;
}

.form-filter {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  position: relative;
  float: left;
}

.form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  position: relative;
  float: left;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 400px;
  padding: 19px 24px 29px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
