/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui
 *= require dataTables/jquery.dataTables
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-multiselect
 *= require_tree .
*/
table#stock td {
  padding: 12px 20px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

  /*
  Label the data
  */
  table#stock td:nth-of-type(1):before { content: "First Name"; }
  table#stock td:nth-of-type(2):before { content: "Last Name"; }
  table#stock td:nth-of-type(3):before { content: "Job Title"; }
  table#stock td:nth-of-type(4):before { content: "Favorite Color"; }
  table#stock td:nth-of-type(5):before { content: "Wars of Trek?"; }
  table#stock td:nth-of-type(6):before { content: "Porn Name"; }
  table#stock td:nth-of-type(7):before { content: "Date of Birth"; }
  table#stock td:nth-of-type(8):before { content: "Dream Vacation City"; }
  table#stock td:nth-of-type(9):before { content: "GPA"; }
  table#stock td:nth-of-type(10):before { content: "Arbitrary Data"; }
}

table#table_total td {
  padding: 12px 20px;
}

table#table_total2 td {
  padding: 12px 20px;
}
table#table_grand_total td {
  padding: 12px 20px;
}

table#table_grand_total2 td {
  padding: 12px 20px;
}

div#grand_total {
  padding: 20px;
}

#error_explanation {
  color: #f00;
  ul {
  list-style: none;
  margin: 0 0 18px 0;
}
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.navbar .brand { 
  max-height: 40px; 
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0; 
}

html, body, .container, .content {
  height: 100%;
  font-size:11px;
}

.container,.content {
  position: relative;
}

.proper-content {
  padding-top: 40px; /* >= navbar height */
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* same as the footer */
}

.push {
  height: 50px; /* same as the footer */
}
.footer-wrapper {
  position: relative;
  height: 50px;
  padding-top: 100px;
}

.form-inline .control-label{
  /* text-align:right; */
  text-align:center;
  background-color:#ffa;
}

.form-filter {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  position: relative;
  float: left;
}

.form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  position: relative;
  float: left;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 400px;
  padding: 19px 24px 29px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
