<div class="span6">
  <div class="graph-container">
    <div class="caption">Non Serenity</div>
    <%= render "nonser_chart" %>
  </div>
</div>
<div class="span6">
  <div class="graph-container">
    <div class="caption">Lady Americana</div>
    <%= render "lady_chart" %>
  </div>
</div>
<div class="span6">
  <div class="graph-container">
    <div class="caption">Serenity</div>
    <%= render "serenity_chart" %>
  </div>
</div>
<div class="span6">
  <div class="graph-container">
    <div class="caption">Royal</div>
    <%= render "royal_chart" %>
  </div>
</div>
