<%= form_tag reports_customer_retail_path, :method => 'get' do %>
 <fieldset>
  <legend>Customer Modern</legend>
		<%= text_field_tag 'customer_retail', params[:customer_retail].nil? ? nil : params[:customer_retail], :placeholder => "customer_retail"  %>
 	<label class="radio">
  	<%= radio_button_tag 'customer_modern', 'all' %> All
  </label>
 </fieldset>
 <br />
 <button type="submit" class="btn btn-primary">Search</button>
<% end %>
