<div class="row-fluid">
  <div class="offset4">
		<div class="span5">
		  <!-- block -->
		  <div class="block">
		    <div class="navbar navbar-inner block-header">
		      <div class="muted pull-left">Report Type</div>
		      <div class="pull-right"><span class="badge badge-info"></span>

		      </div>
		    </div>
		    <div class="block-content collapse in">
		      <%= form_tag reports_first_filter_path, :method => 'get' do %>
						<fieldset>
							<label class="radio">
							  <%= radio_button_tag 'reports', 'detail' %> Detail
							</label>
						 	<label class="radio">
								<%= radio_button_tag 'reports', 'standard' %> Standard
							</label>
						 	<label class="radio">
								<%= radio_button_tag 'reports', 'compare' %> Compare
							</label>
						 </fieldset>
						 <br />
						 <div class="pull-right"><button type="submit" class="btn btn-primary">Next</button></div>
					<% end %>
		    </div>
		  </div>
		  <!-- /block -->
		</div>
  </div>
</div>
