<div class="row-fluid">
  <div class="offset4">
    <div class="span5">
      <!-- block -->
      <div class="block">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">Select Brand</div>
          <div class="pull-right"><span class="badge badge-info"></span>

          </div>
        </div>
        <div class="block-content">
          <%= form_tag reports_sales_cabang_per_toko_path(month: Date.today), :method => 'get', :class => 'quick_view_month' do %>
            <fieldset>
              <div class="control-group">
                <label style="font-size: 13px;">Cabang: </label>
                <%= hidden_field_tag 'month', Date.today  %>
                <%= select_tag 'cabang_scp', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:cabang_scp]), :class => 'multiselect', :multiple => true %>
              </div>
              <br />
              <div class="pull-right"><button type="submit" class="btn btn-primary">Process</button></div>
            </fieldset>
          <% end %>
        </div>
      </div>
      <!-- /block -->
    </div>
  </div>
</div>