<%= form_tag reports_type_path, :method => 'get' do %>
  <fieldset>
    <legend>Report Type</legend>
    <label class="radio">
      <%= radio_button_tag 'reports', 'detail' %> Detail
    </label>
    <label class="radio">
      <%= radio_button_tag 'reports', 'pivot' %> Pivot
    </label>
  </fieldset>
  <br />
  <button type="submit" class="btn btn-primary">Next</button>
<% end %>

